<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>节点添加</title>
    <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
    <link href="__ADMIN__/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <script src="__ADMIN__/js/jquery-1.9.1.min.js"></script>
    <script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="type_style">
        <div class="crumbs">
            <ul>
                <li>
                    <a href="javascript:;">{$type}管理</a>
                </li>
                <li class="uline">/</li>
                <li>
                    <a class="active" href="javascript:;">添加{$type}</a>
                </li>
            </ul>
        </div>
        <form action="{:url('Rbac/addNode')}" method="post" class="form form-horizontal">
            <div class="Operate_cont clearfix">
                <label class="form-label">{$type}名称：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" placeholder="" name="name" datatype="*" nullmsg="{$type}名称不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">{$type}描述：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" placeholder="" name="title" datatype="*" nullmsg="{$type}描述不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            {if condition="$parameter eq 1"}
            <div class="Operate_cont clearfix">
                <label class="form-label">{$type}参数名：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" name="{$parameter}" placeholder="">
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">{$type}参数值：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" name="{$parameter_title}" placeholder="">
                </div>
            </div>
            {/if}
            <div class="Operate_cont clearfix">
                <label class="form-label text-inline">状态：</label>
                <div class="formControls form-inline">
                    <label for="">
                        <input type="radio" name="status" value="1" checked>显示
                    </label>
                    <label for="">
                        <input type="radio" name="status" value="0">隐藏
                    </label>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label text-inline">是否显示在菜单栏：</label>
                <div class="formControls form-inline">
                    <label for="">
                        <input type="radio" name="is_show" value="1" checked>显示
                    </label>
                    <label for="">
                        <input type="radio" name="is_show" value="">隐藏
                    </label>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">排序：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" placeholder="" name="sort" datatype="*" nullmsg="排序名称不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <input type="hidden" name="level" value="{$level}">
                <input type="hidden" name="pid" value="{$pid}">
                <input class="btn btn-primary radius Operate_cont_btn" type="submit" value="提交">
            </div>
        </form>
    </div>

    <script type="text/javascript" src="__ADMIN__/Widget/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //表单验证
            $("form").Validform({
                tiptype: function (msg, o, cssctl) {
                    if (!o.obj.is("form")) {
                        //默认表单
                        var objtip = o.obj.parents(".formControls").find(".Validform_checktip");
                        cssctl(objtip, o.type);
                        objtip.text(msg);
                    }
                },
                showAllError: true
            })
        });
    </script>
</body>

</html>