<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>节点列表</title>
    <link rel="shortcut icon" href="__ADMIN__/images/favicon.ico">
    <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
    <link rel="stylesheet" href="__ADMIN__/css/node.css" />
</head>

<body>
    <div class="crumbs">
        <ul>
            <li>
                <a href="javascript:;" class="active">节点管理</a>
            </li>
        </ul>
    </div>
    <div id="wrap">
        <a href="{:url('Rbac/addNode')}" class="add-app">添加总模块</a>
        {volist name="page_data" id="app"}
        <div class="app">
            <p>
                <strong>{$app.title}</strong> 
                [<a href="{:url('Rbac/addNode',array('pid' => $app['id'],'level'=>2))}">添加控制器</a>] 
                [<a href="{:url('Rbac/editNode',array('id' => $app['id'],'level'=>1))}">修改</a>] 
                [<a url="{:url('Rbac/delNode',array('id' => $app['id'],'level'=>1))}" href="javascript:void(0);" onclick="confirm_msg(this);">删除</a>]
            </p>
            {volist name="app.child" id="action"}
            <dl>
                <dt>
                    <strong>{$action.title}</strong> 
                    [<a href="{:url('Rbac/addNode',array('pid'=>$action['id'],'level'=>3))}">添加方法</a>] 
                    [<a href="{:url('Rbac/editNode',array('id'=>$action['id'],'level'=>2))}">修改</a>] 
                    [<a url="{:url('Rbac/delNode',array('id'=>$action['id'],'level'=>2))}" href="javascript:void(0);" onclick="confirm_msg(this);">删除</a>]
                </dt>
                {volist name="action.child" id="method"}
                <dd>
                    <span>{$method.title}</span> 
                    [<a href="{:url('Rbac/editNode',array('id'=>$method['id'],'level'=>3))}">修改</a>]
                    [<a url="{:url('Rbac/delNode',array('id'=>$method['id'],'level'=>3))}" href="javascript:void(0);" onclick="confirm_msg(this);">删除</a>]
                </dd>
                {/volist}
            </dl>
            {/volist}
        </div>
        {/volist}
    </div>
</body>

</html>