<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name"><![CDATA[PC-template_1]]></item>
	<item id="version"><![CDATA[X1.0]]></item>
	<item id="time"><![CDATA[2018-12-06 22:00]]></item>
	<item id="author"><![CDATA[superman开发团队]]></item>
	<item id="copyright"><![CDATA[superman开发团队]]></item>
	<item id="template">
		<item id="common">
			<item id="header"><![CDATA[全站头部]]></item>
			<item id="footer"><![CDATA[全站底部]]></item>
		</item>
	</item>
</root>