<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>配置组添加</title>
    <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
    <link href="__ADMIN__/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <script src="__ADMIN__/js/jquery-1.9.1.min.js"></script>
    <script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/js/common.js" type="text/javascript"></script>
    <style>
        textarea{width: 280px;height: 80px;border: 1px solid #ccc;}
    </style>
</head>

<body>
    <div class="type_style">
        <div class="crumbs">
            <ul>
                <li>
                    <a href="{:url('Config/index')}">配置参数管理</a>
                </li>
                <li class="uline">/</li>
                <li>
                    <a class="active" href="javascript:;">添加配置组</a>
                </li>
            </ul>
       </div>
        <form action="{:url('Config/add')}" method="post" class="form form-horizontal">
            <div class="Operate_cont clearfix">
                <label class="form-label">配置组英文名称：</label>
                <div class="formControls ">
                        <input type="text" class="input-text" value="" placeholder=""  name="config_name" datatype="*" ajaxUrl="{:url('Config/ajaxConfigName')}" nullmsg="配置组英文名称不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">配置组中文名称：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="" placeholder=""  name="config_title" datatype="*" ajaxUrl="{:url('Config/ajaxConfigTitle')}" nullmsg="配置组中文名称不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">提示信息：</label>
                <div class="formControls ">
                    <textarea name="config_message"></textarea>
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">显示类型：</label>
                <div class="formControls ">
                    <label>
                        <input type="radio" name="config_type" value="text" checked>text
                    </label>
                    <label>
                        <input type="radio" name="config_type" value="radio">radio
                    </label>
                    <label>
                        <input type="radio" name="config_type" value="textarea">textarea
                    </label>
                    <label>
                        <input type="radio" name="config_type" value="select">select
                    </label>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">配置值：</label>
                <div class="formControls ">
                    <textarea name="config_value"></textarea>
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">参数(仅对radio与select有效):</label>
                <div class="formControls ">
                    <textarea name="config_info"></textarea>
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label">配置组排序：</label>
                <div class="formControls ">
                    <input type="text" class="input-text" value="1" name="config_sort" datatype="*" nullmsg="配置组排序不能为空！">
                    <span class="Validform_checktip"></span>
                </div>
            </div>
            <div class="Operate_cont clearfix">
                <label class="form-label text-inline">是否开启：</label>
                <div class="formControls form-inline">
                    <label for="">
                        <input type="radio" name="config_status" value="1" checked>是
                    </label>
                    <label for="">
                        <input type="radio" name="config_status" value="0">否
                    </label>
                </div>
            </div>        
            <div class="Operate_cont clearfix">
                <input type="hidden" name="group_id" value="{$group_id}">
                <input class="btn btn-primary radius Operate_cont_btn" type="submit" value="提交">
            </div>
        </form>
    </div>

    <script type="text/javascript" src="__ADMIN__/Widget/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/role.js"></script>
</body>
</html>