<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网站配置</title>
    <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADMIN__/css/style.css" />
    <link href="__ADMIN__/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__ADMIN__/font/css/font-awesome.min.css" />
    <script src="__ADMIN__/js/jquery-1.9.1.min.js"></script>
    <script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/Widget/Validform/5.3.2/Validform.min.js"></script>
    <script src="__ADMIN__/assets/js/typeahead-bs2.min.js"></script>
    <script src="__ADMIN__/assets/js/jquery.dataTables.min.js"></script>
    <script src="__ADMIN__/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script src="__ADMIN__/js/lrtk.js" type="text/javascript"></script>
    <script src="__ADMIN__/assets/layer/layer.js" type="text/javascript"></script>
    <script src="__ADMIN__/assets/laydate/laydate.js" type="text/javascript"></script>
    <script src="__ADMIN__/js/config.js" type="text/javascript"></script>
    <script>
        $(function () {
            var tabTitle = ".nav-tabs li";
            var tabContent = ".tab-content .tab-pane";
            $(tabTitle + ":first").addClass('active');
            $(tabContent).not(":first").hide();
            $(tabTitle).click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                var index = $(tabTitle).index($(this));
                $(tabContent).eq(index).siblings(tabContent).hide().end().fadeIn(0);
            });
        })
    </script>
</head>

<body>
    <div class="margin clearfix">
        <div style="margin-bottom:10px;">模板中使用配置项方法为 ，请仔细修改配置项，不当设置将影响网站的性能与安全
        </div>
        <div class="stystems_style">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    {volist name="page_data" id="vo"}
                        <li {if condition="$key eq 0"}class="active"{/if}
                            >
                            <a href="javascript:;">{$vo.group_title}</a>
                        </li>
                    {/volist}
                </ul>
                <div class="tab-content">
                    <!--站点信息-->
                    <form action="{:url('Config/webConfig')}" method="post" type="post">
                        {volist name="page_data" id="vo"}
                            <div id="tab_webinfo" class="tab-pane {if condition=" $key eq 0 "}active{/if}">
                                <ul>
                                    {volist name="vo['config']" id="v"}
                                        <li class="form-group">
                                            <label class="col-sm-2 control-label">
                                                <i>*</i>{$v.config_title}:</label>
                                            <div class="col-sm-4">
                                                <?php echo htmlspecialchars_decode($v['html']);?>
                                            </div>
                                            <div class="col-sm-2">{$v.config_name}</div>
                                            <div class="col-sm-4">
                                                <?php echo htmlspecialchars_decode($v['config_message']);?>
                                            </div>
                                        </li>
                                    {/volist}
                                </ul>
                            </div>
                        {/volist}
                        <div class="Button_operation">
                            <button class="btn btn-primary radius" type="submit">
                                <i class="fa fa-save "></i>&nbsp;保存
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>