<!-- left -->
<div id="menu_style" class="menu_style">
    <ul class="nav nav-list" id="nav_list">
        <li class="home"><a href="javascript:void(0)" name="{:url('index/copy')}" class="iframeurl" title=""><i class="icon"></i><span class="menu-text"> 系统首页 </span></a></li>
        <li><a href="#" class="dropdown-toggle"><i class="icon"></i><span class="menu-text"> rbac </span><b class="arrow icon-angle-down"></b></a>
            <ul class="submenu">
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/user')}" title="管理员列表" class="iframeurl"><i class="icon-double-angle-right"></i>管理员列表</a></li>
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/addUser')}" title="添加管理员" class="iframeurl"><i class="icon-double-angle-right"></i>添加管理员</a></li>
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/role')}" title="角色列表" class="iframeurl"><i class="icon-double-angle-right"></i>角色列表</a></li>
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/addRole')}" title="添加角色" class="iframeurl"><i class="icon-double-angle-right"></i>添加角色</a></li>
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/node')}" title="节点列表" class="iframeurl"><i class="icon-double-angle-right"></i>节点列表</a></li>
                <li class="home"><a href="javascript:void(0)" name="{:url('rbac/addNode')}" title="添加节点" class="iframeurl"><i class="icon-double-angle-right"></i>添加节点</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- left end -->