<!--menu-->
<div class="menu">
    <div class="sidebar-shortcuts-large menu-icon" id="sidebar-shortcuts-large">
        <a class="btn btn-success">
            <i class="icon-signal"></i>
        </a>

        <a class="btn btn-info">
            <i class="icon-pencil"></i>
        </a>

        <a class="btn btn-warning">
            <i class="icon-group"></i>
        </a>

        <a class="btn btn-danger">
            <i class="icon-cogs"></i>
        </a>
    </div>
    <div class="menu-box">
        <ul class="menu-nav">
            {volist name="node" id="vo" key="key"}
            <li class="menu-nav-item {if condition=" $key eq 1 "}active{/if}">
                <a href="javascript:;" menu_id="{$vo['id']}">{$vo['title']}</a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<!--menu end-->
<script>
    $(function () {
        $(document).on('click', '.iframeurl', function () {
            var cid = $(this).attr("name");
            var cname = $(this).attr("title");
            $("#iframe").attr("src", cid).ready();
            $("#Bcrumbs").attr("href", cid).ready();
            $(".Current_page a").attr('href', cid).ready();
            $(".Current_page").attr('name', cid);
            $(".Current_page").html(cname).css({
                "color": "#333333",
                "cursor": "default"
            }).ready();
            $("#parentIframe").html('<span class="parentIframe iframeurl"> </span>').css("display", "none").ready();
            $("#parentIfour").html('').css("display", "none").ready();
        });
    })
</script>