<!--menu-->
<div class="menu">
    <div class="sidebar-shortcuts-large menu-icon" id="sidebar-shortcuts-large">
        <a class="btn btn-success">
            <i class="icon-signal"></i>
        </a>

        <a class="btn btn-info">
            <i class="icon-pencil"></i>
        </a>

        <a class="btn btn-warning">
            <i class="icon-group"></i>
        </a>

        <a class="btn btn-danger">
            <i class="icon-cogs"></i>
        </a>
    </div>
    <div class="menu-box">
        <ul class="menu-nav">
            <li class="menu-nav-item active"><a href="javascript:;">权限管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">前台信息管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">系统管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">其他设置</a></li>
            <li class="menu-nav-item"><a href="javascript:;">订单管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">内容管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">会员管理</a></li>
            <li class="menu-nav-item"><a href="javascript:;">运营推广</a></li>
            <li class="menu-nav-item"><a href="javascript:;">统计报表</a></li>
        </ul>
    </div>
</div>
<!--menu end-->